spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: password
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5

  mail:
    host: smtp.gmail.com
    port: 587
    username: hanifaramadhani2910@gmail.com
    password: hjfgjpdzsvyrltcf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

logging:
  level:
    org.springframework: INFO
